<% @books.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <p>name：<%= book.user.name %></p>
  <p><%= image_tag 'sample-author1.jpg' %></p>
  <p>introduction：<%= book.user.introduction %></p>
  
  
</div>
<% end %>
